{% load static %}
<html>

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'resources/style/teplate.css' %}" rel="stylesheet">
    <script src="{% static 'resources/js/jquery-1.js' %}"></script>
    <script src="{% static 'resources/js/bootstrap.js' %}"></script>
    <title>DashBoard</title>
    <style type="text/css">

        tab_text {
            text-transform: uppercase;
            font-weight: normal;
            font-family: Lucida Sans Unicode Lucida Grande sans-serif;
            text-shadow: 1px 1px 0 #ffffff;
            font-size: 1.071em
        }

        .label-attempt {
            background-color: #fff;
            padding: 1px 2px;
            color: #666;
            border: solid 1px;
            border-color: #666;
            text-shadow: 0 0px 0 rgba(0, 0, 0, 0);
            font-weight: normal;
        }

        #answer {
            width: 600px;
            height: 40px;
            font-size: 20px;
            margin-left: 20px;
        }

        #lnkFreeTakeTest {
            margin-left: 500px;
        }

    </style>

</head>

<body class="inner" cz-shortcut-listen="true" style="zoom: 1;">
<div class="main container">
    <div class="row">
        <div class="left-sidebar span3">
            <div id="logo">
                <img src="{% static 'resources/images/inner-mkcloeslogo.png' %}" alt="OES">
            </div>
            <div class="navbar">
                <div class="navbar-inner">
                    <div class="container">
                        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span
                                class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
                        </a>
                        <div class="nav-collapse collapse">
                            <ul class="nav side-menu">
                                <li><a href="{% url 'doctor:information_prof' d_ssn %}"><i class="icon-th-large"></i>
                                    Information</a></li>
                                <li><a href="{% url 'doctor:test_courses' %}"><i class="icon-th-large"></i> Add Test
                                    Bank</a></li>
                                <li><a href="{% url 'doctor:exam_courses' %}"><i class="icon-th-large"></i> Add
                                    Exam</a></li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content span9">
            <div class="content-above">
                <div class="holder">
                    <div class="profile">
                        <div class="holder">
                            <div class="display-pic">
                                <div class="dp">
                                    <img src="{% static 'resources/images/defaultCandidate.jpg' %}">
                                </div>
                            </div>
                            <div class="display-info">
                                <p>{{ name }} </p>
                                <div class="btn-group">
                                    <a href="{% url 'student' %}" class="btn btn-orange">
                                        <font>Logout</font>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-top">
                <div class="holder">
                </div>
            </div>
            <div class="main-content">
                <fieldset class="well">

                    <legend>
                            <span><img src="{% static 'resources/images/dashboard.png' %}" alt=""> Add Exam<span
                                    class="pull-right"></span>
                            </span></legend>
                    <div class="holder">
                        <div id="tabbable">
                            <ul class="nav nav-tabs" id="myTab">
                                <li class="active"><a href="#" data-toggle="tab" class="tab_text"
                                                      style=" font-weight: bold; font-size:18px; text-shadow: 2px 2px 0 #ffffff;">Courses </a>
                                </li>

                            </ul>
                        </div>
                        <div id="showScheduledPapers">


                            <div class="box">

                                <div class="box-body">
                                    <table class="table table-bordered table-complex" style="border-top: 0;">
                                        <thead>
                                        <tr>
                                            <th colspan="3" class="text-left"></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for c in course %}
                                            <tr>

                                                <td>
                                                    <p style="font-size:18px;"><i class="icon-user "></i><strong>&nbsp;&nbsp; {{ c.C_name }}&nbsp;&nbsp;</strong>
                                                    </p>

                                                </td>

                                                <td class="text-center">
                                                    <a id="lnkFreeTakeTest" data-mode="FullScreen" data-dcidcnt=""
                                                       class="btn btn-greener lnkFreeTakeTest"
                                                       href="{% url 'doctor:add_exam' c.C_id %}">Add Exam</a>

                                                </td>
                                            </tr>
                                        {% endfor %}

                                        </tbody>
                                    </table>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>

            </div>
            <br>
            <div class="footer span9">
                <div class="holder">
                    <p class="pull-left">Copyright © 2018 CBE. All Rights Reserved.</p>
                    <a id="to-top" class="btn btn-grey pull-right" href="#"><i class="icon-chevron-up icon-greyer"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>

</body>

</html>
