{% load static %}
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="-1">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'resources/style/template.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'resources/style/selectFix.css' %}" type="text/css">
    <script src="{% static 'resources/js/jquery-1.9.0.min.js' %}"></script>
    <script src="{% static 'resources/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'resources/js/equalize.min.js' %}"></script>
    <script src="{% static 'resources/js/selectFix.js' %}"></script>
    <title>Administrator Login</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
/
<body class="osp inner loginpage division-group" cz-shortcut-listen="true" style="zoom: 1;">
    <div id="ajaxLoading" style="position: fixed;top: 0; right: 0; bottom: 0; left: 0;background-color: black; opacity: 0.5; display: none; index: 100; ">
        <img style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);" src="{% static 'resources/images/ajaxload.svg' %}">
    </div>
    <div class="main">
        <div class="osp-header">
            <div class="container">
                <div class="row"></div>
            </div>
        </div>
        <div class="osp-content">

            <div class="container">
                <div class="row">
                    <div class="span12 main-content">
                        <div class="content-holder">
                            <div class="well">
                                <div class="logo-holder text-center" style="padding-bottom : 10px;">
                                    <img src="{% static 'resources/images/1_mkcloeslogo.png' %}" alt="OES School Project">
                                    <hr id="dtSeprator" style="border-top: 1px solid #999;margin-bottom:10px; display: none;">
                                    <div style="text-align: center;">
                                        <b><span id="Date"></span></b>
                                    </div>
                                </div>
                                <form id="loginform" action="{% url 'adminstrator:admin_page' %}" method="POST">
                                    {% csrf_token %}
                                    <br>
                                    <br>
                                    <div class="login-type">
                                       <span class="btn btn-login-type-small"><i class="icon-osp-large icon-us"></i></span>Adminstrator Login
                                    </div>

                                    {% for message in messages %}

                                            <div class="alert alert-success" style="color:red">
                                             <a class="close" href="#" data-dismiss="alert">×</a>

                                                {{ message }}
                                            </div>
                                             {% endfor %}
                                    <div class="controls">
                                        <i class="icon-greyer icon-user"></i>
                                        <input id="userid" name="id" type="text" placeholder="ID" value="" required pattern="[0-9]+" title="number only">
                                    </div>
                                    <div class="controls">
                                        <i class="icon-greyer icon-lock"></i>
                                        <input id="pass" name="password" type="password" placeholder="Password" value="" required pattern="[0-9]+" title="number only">
                                    </div>
                                    <div class="controls text-center">
                                        <button class="btn btn-primary" type="submit" id="btnSave">Login</button>
                                    </div>
                                   
                                </form>


                                <p class="version">
                                    <b>
                                        <span class="pull-left">Version : 1.0</span>
                                        <a class="pull-right" href="{% url 'student' %}">
                                            Candidate Login
                                        </a></b>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="osp-footer">
            <div class="container">
                <div class="row">
                    <div class="span8 copyright">
                        <div class="holder">
                            Copyright ©
                            2018 CBE. All Rights Reserved.
                            
                        </div>
                    </div>
                    <div class="span4 scroll-to-top">
                        <div class="holder">
                            <a id="to-top" class="btn" href="#"><i class="icon-osp-small icon-upper"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
